<%= Fund.find(@chart_of_account.fund_id).name %>
<%= @chart_of_account.id %>
<%= @chart_of_account.description %>

<div class="container">
  <% @root_accounts.each do |root_account| %>
    <%= render "synthetic_accounts/synthetic_account", account: root_account %>
  <% end %>
</div>
